.puzzle-row {
  display: flex;
}

.puzzle-tile {
  align-items: center;
  background-color: #ef5350;
  color: white;
  display: flex;
  font-size: 28px;
  height: 150px;
  justify-content: center;
  margin: 1px;
  width: 150px;
}

.puzzle-tile a {
  color: white;  
}
