<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block pageTitle %}15 Puzzle Web!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    {% block refresh %}{% endblock %}
    {% block stylesheets %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
      <link rel="stylesheet" href="{{ asset('styles/main.css') }}"/>
    {% endblock %}
  </head>
  <body>
    <nav class="blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a href="{{ path('index') }}" class="brand-logo">15 Puzzle Web!</a>
      </div>
    </nav>
    <section class="container">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
