{% extends "base.html.twig" %}

{% block header %}   
  <div class="section">
    {% if isVictory %}
      <h5>Congratulations, you have solved the puzzle in {{ turn }} turns!</h5>
    {% else %}
      <h5>Turn {{ turn }}: try to solve the puzzle by clicking on the tiles you want to move</h5>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="section">
    <div class="row">
      {% include 'grid.html.twig' %}
    </div>
    {% if isVictory %}
      <div class="row">
        <a class="btn" href="{{ path('index') }}"><i class="material-icons left">keyboard_return</i>Back to home</a>
        <a class="btn" href="{{ path('game_new') }}"><i class="material-icons left">add_circle_outline</i>Start a new game</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
