{% extends "base.html.twig" %}

{% block header %}   
  <div class="section">
    {% if isVictory %}
      <h5>Congratulations, you have solved the puzzle !</h5>
    {% else %}
      <h5>Try to solve the puzzle by clicking on the tiles you want to move</h5>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="section">
    <div class="row">
      {% include 'grid.html.twig' %}
    </div>
    {% if isVictory %}
      <div class="row">
        <a class="btn" href="/game"><i class="material-icons left">keyboard_return</i>Play another game</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
