{% extends "base.html.twig" %}

{% block header %}   
  <div class="section">
    <h5>Current game</h5>
  </div>
{% endblock %}

{% block content %}
  <div class="section">
    {% include 'grid.html.twig' %}
  </div>
{% endblock %}
