{% extends "base.html.twig" %}

{% block header %}
  <div class="section">
    <h5>Welcome to the 15 puzzle game!</h5>
  </div>
{% endblock %}

{% block content %}
  <div class="section">
    <div class="row">
      <img src="{{ asset('images/puzzle15-game.jpg') }}" alt="15 puzzle picture"/>
    </div>
    <div class="row">    
      <a class="btn blue" href="{{ path('game_new', {'mode': 'single'}) }}"><i class="material-icons left">play_circle_outline</i>Single game</a>
      <a class="btn blue" href="{{ path('game_new', {'mode': 'multi'}) }}"><i class="material-icons left">play_circle_outline</i>Multiplayer game</a>
    </div>
  </div>
{% endblock %}
