{% extends "base.html.twig" %}

{% block header %}
  <div class="section">
    <h5>Welcome to the 15 puzzle game!</h5>
  </div>
{% endblock %}

{% block content %}
  <div class="section">
    <a class="waves-effect waves-light btn" href="/game"><i class="material-icons left">add_circle_outline</i>Start a new game</a>
  </div>
{% endblock %}
